* {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.App {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 8rem;
}

.card {
  
  border-radius: 10px;
  padding: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
  height: 50vh;
  
}
.card ul {
  text-decoration: none;
  list-style: none;
  text-align: center;
  padding: 1px;
}
.card p{
  text-align: center;
}
img{
  width: 30%;
}